@font-face {
  src: url("../fonts/MarkPro-Bold.otf");
  font-family: 'Mark_bold';
}
@font-face {
  src: url("../fonts/MarkPro-Light.otf");
  font-family: 'Mark_light';
}
@font-face {
  src: url("../fonts/Geometria.otf");
  font-family: 'Geometria';
}
