$yellow: #fac41a;
$white: #fff;
$main_font: "Geometria" , sans-serif;
$mark_bold: "Mark_bold";
$mark_light: "Mark_light";
$width_full: 100vw;
$height_full: 100vh;
$width_percent: 100%;
$break-large: 1280px;
$break-medium: 660px;
$break-min:450px;
