@import "_var.scss";
@import "_mixns.scss";
@import "_font.scss";

*{
  transition: all .2s ease-in;
}
body{
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
.main{
  width: $width_full;
  height: $height_full;
  background-image: url(../img/bg.png);
  background-repeat:no-repeat;
  background-size: cover;
  .bg{
    width: $width_full;
    height: $height_full;
    background: #343845;
    position: relative;
    opacity: 0.8;
    z-index: 10;
    position: absolute;
    top: 0;
    }
    .main_item{
      position: absolute;
      z-index: 20;
      top: 0;
      .lang{
        width: $width_full;
        .lang_items{
          width: 150px;
          @include flex;
          justify-content: space-around;
          margin: 0 auto;
          text-align: center;
          top: 50px;
          div{
            border: 1px solid $white;
            border-radius: 100%;
            width: 36px;
            height: 33px;
            cursor: pointer;
            a{
            color: $white;
            font-family: $main_font;
            font-size: 15px;
            line-height: 33px;
            }
            &:first-child{
              color: $yellow;
              border: 1px solid $yellow;
            }
            &:hover{
              color: $yellow;
              border: 1px solid $yellow;
            }
          }
        }
      }
      .animation{
        width: 50px;
        height: 50px;
        margin: auto;
        margin-top: 17vh;
        background: url(../img/animator.png) no-repeat center;
        background-position: 0px 0px;
        transition: 2s;
        position: relative;
        left: 3px;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      .active{
        animation-name: spin;
      }
      .text{
        text-align: center;
        height: 200px;
        padding-top: 10vh;
        height: 30vh;
        @media screen and (max-width: $break-large) {
        height: 150px;
        }
        .main_text{
          color: $white;
          font-weight: bold;
          font-size: 40px;
          font-family: $mark_light;
          span{
            line-height: 50px;
            font-weight: 100;
            @media screen and (max-width: $break-large) {
            font-size: 30px;
            line-height: 40px;
            }
            @media screen and (max-width: $break-medium) {
            font-size: 23px;
            line-height: 30px;
            }
            @media screen and (max-width: $break-min) {
            font-size: 15px;
            line-height: 25px;
            }
          }
          .last_span{
            font-family: $mark_bold;
            font-weight: 600;
          }
        }
        .typed-cursor{
          font-weight: 100;
          font-family: $mark_light;
          color: $white;
          font-size: 40px;
        }
      }
      .footer{
        width: 490px;
        margin: 0 auto;
        position: relative;
        @media screen and (max-width: $break-medium) {
        width: $width_percent*0.8;
        margin: 0 auto;
        }
        .social{
          @include flex;
          justify-content: center;
          padding-bottom: 5%;
          border-bottom: 1px solid $white;
          div{
            padding:0 5px;
          }
        }
        .contact{
          width: $width_percent;
          @include flex;
          justify-content: space-between;
          padding-top: 4vh;
          font-family: $mark_bold;
          div{
            width: $width_percent*0.9;
          }
          h4{
            font-size: 17px;
            color: $yellow;
            padding-bottom: 2px;
            @include forfooter;
          }
          p{
            font-size: 13px;
            font-family: $mark_light;
            color: $white;
            @include forfooter;
          }
          .contact_right{
            text-align: right;
          }
        }
      }
    }
}
.custom-icon {
  font-size:22px;
  background:$white;
  background:rgba(0,0,0,0.2);
  padding:5px;
  border-radius:100%;
  border:2px solid $white;
  color:#fff;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:25px;
  height:25px;

  &:hover{
    border:2px solid $yellow;
    color: $yellow;
  }
}
.typed-cursor{
    opacity: 1;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@keyframes spin {
       from {
           transform: rotate(0deg);
       } to {
           transform: rotate(360deg);
       }
   }
